@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;      /* zinc-950 */
    --foreground: 240 5% 96%;        /* zinc-50 */
    
    --card: 240 10% 3.9%;            /* zinc-950 */
    --card-foreground: 240 5% 96%;   /* zinc-50 */
    
    --popover: 240 10% 3.9%;         /* zinc-950 */
    --popover-foreground: 240 5% 96%; /* zinc-50 */
    
    --primary: 240 5% 96%;           /* zinc-50 */
    --primary-foreground: 240 6% 10%; /* zinc-900 */
    
    --secondary: 240 4% 16%;         /* zinc-800 */
    --secondary-foreground: 240 5% 96%; /* zinc-50 */
    
    --muted: 240 4% 16%;             /* zinc-800 */
    --muted-foreground: 240 5% 65%;  /* zinc-400 */
    
    --accent: 240 4% 16%;            /* zinc-800 */
    --accent-foreground: 240 5% 96%; /* zinc-50 */
    
    --destructive: 0 63% 31%;        /* red-900 */
    --destructive-foreground: 240 5% 96%; /* zinc-50 */
    
    --border: 240 4% 16%;            /* zinc-800 */
    --input: 240 4% 16%;             /* zinc-800 */
    --ring: 240 5% 84%;              /* zinc-300 */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}